@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Regular.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Medium.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Medium.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

.t1 {
  font-size: 1.5rem;
}

.t2 {
  font-size: 1.7rem;
}

.t3 {
  font-size: 2.4rem;
}

.s1 {
  font-size: 1.3rem;
}

.s2 {
  font-size: 1.2rem;
}

.s3 {
  font-size: 1rem;
}
