// COLOR
$color-primary: #565b70;
$color-primary-light: #9295a1;
$color-secondary: #1ab794;
$color-secondary-dark-1: #0eab88;
$color-secondary-dark-beta: #0ea180;
$color-secondary-dark-gamma: #0d9577;
$color-secondary-light: #1ab794;

$color-tertiary: #de1515;
$color-tertiary-dark: #de1515;
$color-tertiary-light-alpha: #e21010;
$color-tertiary-light-beta: #e31212;
$color-tertiary-light-gamma: #d60c0c;

$color-dark-1: #2e0216;

$color-alpha: #700b47;

$color-black: #000000;
$color-white: #ffffff;
$color-jazzberry-jam: #9e0f51;
$color-gamboge: #e69d11;

$color-grey: #dadada;
$color-grey-light: #f7f5f5;
$color-grey-dark: #c2c2c2;
$color-grey-dark-alpha: #9699a4;

$color-link-hover: #1d8acb;
$color-body-bg: #f0f0f0;
$color-text: #333;

//
$container: 120rem;

// FONTS
$font-primary: "Roboto", sans-serif;

// Break point
$bp-huge: 120rem;
$bp-large: 100rem;
$bp-medium: 76.8rem;
$bp-small: 60rem;
$bp-very-small: 46.8rem;
